
header {
     background-color: var(--color-bg-primary);
     width: 100%;
     max-width: 1280px;
     height: 70px;
     margin: 0 auto;
     padding: 20px;
     margin-bottom: 20px;
}

.nav-menu {
   color: var(--color-ft-primary); 
}
.menu-active {
   font-weight: 700;
}
 
 .home-icon {
    width: 30px;
 }

 .section-nav {
    display: flex;
    justify-content: space-between;    
}

