:root {
  --color-bg-primary: #2D28FF;
  --color-bg-secundary:  #fff;
  --color-bg-terciary: #C7C7C7;

  --color-ft-primary: #fff;
  --color-ft-secundary: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
 
}

body {
  background-color: var(--color-bg-secundary);
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
 
.size-page {
  max-width: 1200px;
  margin: 0 auto;
}
.model-containers {
  width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.nav-menu  {
  display: flex;
  list-style-type: none;
  gap: 20px;
  color: var(--color-ft-secundary);

}

